package context

import (
	"{{ Basepath }}/config"
)

// Dummy context for being consistent with rest of the components
func InitConfig(config config.Config) config.Config{
    return config.Config
}
